h1{
    background-color:#2a9d8f;
    border: 5px solid #264653;
    color: #f1faee;
    padding: 0.7em;
    width: 20%;
    font-size: 1.8em;
    text-align: center;
    margin: 20px auto;
}
h1:nth-of-type(2n){
    background-color: #fb8500;
}
h1:nth-of-type(3n){
    background-color: #e29578;
}
h1:nth-of-type(4n){
    background-color: #bc6c25;
}
section:first-of-type h1:nth-of-type(1){
    transform: rotate(-45deg);
}
section:first-of-type h1:nth-of-type(2){
    transform: scale(0.5)
}
section:first-of-type h1:nth-of-type(3){
    transform: translate(-200px,50px);
}
section:first-of-type h1:nth-of-type(4){
    transform: skew(10deg)
}