@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  list-style-type: none;
}
body {
  background: var(--light-color);
}
:root {
  --light-color: #b5a290;
  --text-color: #fbfbfb;
  --primary: #a0522d;
  --primary-dark: #411f07;
  --primary-light: #cd8500;
}
/* :root {
  --light-color: #b5a290;
  --text-color: #fbfbfb;
  --primary: #a0522d;
  --primary-dark: #411f07;
  --primary-light: #cd8500;
} */
/* :root {
  --light-color: #f4f5f7;
  --text-color: #161717;
  --primary: #1eb2c1;
  --primary-dark: #0f5960;
  --primary-light: #8ed8e0;
} */

/* Header Style Start */
header {
  width: 100%;
  background: var(--primary-dark);
  top: 0;
  left: 0;
  z-index: 10;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
  background: var(--primary-dark);
}
.logo {
  font-size: 1.7rem;
  font-weight: 700;
  color: #f6ff00;
}
.nav-links {
  display: flex;
}
.nav-items {
  padding: 0px 15px;
}
.nav-link {
  color: var(--text-color);
  font-size: 1.2rem;
}
.active {
  font-weight: 700;
}
/* Header Style End */
.section {
  margin-top: 2rem;
}

/* Section One Style */
.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left,
.right {
  text-align: center;
  padding: 1rem 2rem;
  width: 50%;
}
.profile-img {
  width: 100%;
  border-radius: 50%;
  text-align: center;
}

.info {
  margin: 0 auto;
  max-width: 800px;
}

/* Section Two Style */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
  grid-gap: 5px;
  padding: 20px 5px;
}
.card {
  /* background-color: var(--primary); */
  background-image: linear-gradient(
    -180deg,
    var(--primary),
    var(--primary-dark)
  );
  position: relative;
}
.details {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text-color);
  padding: 1rem;
}
.more-info {
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--light-color);
  width: 100%;
  height: 100%;
  display: none;
  font-weight: 700;
}
.more-info div {
  position: absolute;
  top: 45%;
  font-size: 1.3rem;
  font-weight: 600;
}
.card:hover .more-info {
  display: flex;
  cursor: pointer;
}

/* Section Three Style */
.btn__tab-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.btn {
  border: transparent;
  padding: 0.5rem 3rem;
  background: var(--primary);
  font-size: 1.2rem;
  color: var(--text-color);
  font-weight: 600;
  border: 1px solid var(--primary-dark);
  width: 12rem;
  text-align: center;
}
.btn:hover,
.btn__tab-active {
  background-color: var(--primary-dark);
  font-weight: 700;
  color: var(--light-color);
  cursor: pointer;
}
.btn:hover {
  border: 1px solid var(--primary-light);
}
.education-content {
  display: none;
  padding: 4rem 2rem;
  background-color: var(--primary);
  font-size: 1.3rem;
  color: var(--text-color);
  font-weight: 600;
  box-shadow: 0px -3px var(--primary-dark);
}
.education-content--active {
  display: block;
}
#education {
  margin-bottom: 5rem;
}
.content-data table {
  margin: 0 auto;
  width: 100%;
}
.edu-icon {
  width: 10%;
}
.edu-data {
  width: 80%;
}
td p {
  margin: 10px 0px;
}
