@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}

:root {
    --white: #fff;
    --black: #000;
    --bg: #f2f1f1;
    --prim-superlight: #f5f0e7;
    --prim-light: #d1b88b;
    --primary: #a47218;
    --prim-dark: #52390c;
    --prim-extradark: #100b02;
}

body {
    background-color: #f2f1f1;
}
.navbar .navbar-brand{
    color: var(--prim-superlight);
}
.page-container .form-container,
.page-container .list-container{
    width: 50%;
}
/* 
.page-container .form-container,
.page-container .list-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    padding: 15px 5px;
}
.form-group{
    width: 100%;
    text-align: center;
}
.input-group{
    margin: 5px 0px;
}
.input-group input{
    border: 1px solid var(--prim-superlight);
    border-radius: 5px;
    font-size: 20px;
    width: 80%;
    padding: 0px 10px;
} */
